*.pyc
*.pyo
*.swp
*.egg-info

__pycache__
cache
build
dist
htmlcov
venv
venv.v2
docs/src/

.*.docker
.coverage
.coverage.develop
.eggs
.install
.lint
.mypy_cache
.python-version
.static
.tox
.twinecheck
.vscode 
.win-tox
.install-build

_version.py
